*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1C2833;
}

#canvas{
    width: 800px;
    height: 600px;
    background-color: hsl(209, 29%, 20%);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transform:scaleY(-1);
}
#header, .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.row{
    flex-direction: row;
}
button{
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    transition: background 0.5s ease-out;
}
button:hover{
    background-color: rgb(133, 146, 255);
}
.roundButton{
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    font-size: 15px;
}

h2, p{
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
}
p{
    margin: 10px 0px 0px 0px;
}


.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    direction: rtl
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: rgb(133, 146, 255);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(133, 146, 255);
    cursor: pointer;
  }
  .card{
    margin: 0px 40px;
  }